/* navbar section */
.ic-logo {
  color: grey;
}

.nav-height {
  height: 64px;
  padding: 24px;
}

/* homepage section */
.bg-light-grey {
  background-color: lightgray;
}

.p-home-img {
  padding: 32px 24px;
}

.p-btn {
  padding: 8px;
}

.btt {
  padding: 10px 130px;
}

.bg-grey {
  background-color: gray;
}

/* main-section */

.card-img-p {
  padding: 16px 16px;
}

.b-p-8px {
  padding-bottom: 8px;
}

/* middle section */

.midhead-p {
  padding-top: 32px;
}

.t-p-t {
  padding-top: 16px;
}

.midsec-p {
  padding: 16px 0 24px 16px;
}

.fix-p {
  padding: 8px;
}

.card-p {
  padding: 32px 72px;
}

/* footer section */

.footerhead-p {
  padding: 32px;
}
